@import 'sencha-touch/default/all';

/*------------------------------------*\
    $DEFAULT COLORS & STYLING
\*------------------------------------*/

$accent-color-one: #262729;
$base-gradient: 'matte'; /* matte, bevel, glossy, recessed, or flat */


/*------------------------------------*\
    $TITLE BAR COLORS
\*------------------------------------*/

$back-button-color: #333333;
$title-bar-background-color:#384855;


/*------------------------------------*\
    $MESSAGE BOX COLORS
\*------------------------------------*/

$message-box-border-color: #384855;
$message-box-text-color: #384855;
$message-box-action-button-text-color: #ffffff;
$message-box-action-button-color: #384855;
$message-box-background-color: #ffffff;


/*------------------------------------*\
    $BASE COLORS
\*------------------------------------*/

$grey: #666666;
$light-color:#3f4346;
$light-blue: #9bc0f4;
$white: #fff;


/*------------------------------------*\
    $LIST COLORS
\*------------------------------------*/

$date-background-color:#7B3A50;
$list-item-color: #eeeeee;
$list-active-color: $list-item-color;
$list-active-gradient: 'flat'; /* matte, bevel, glossy, recessed, or flat */
$list-pressed-color: $list-item-color;
$list-header-bg-color: transparentize(saturate($base-color, 10%), .5);
$list-header-gradient: 'matte';


/*------------------------------------*\
    $TABBAR DEFULT STYLING
\*------------------------------------*/

$tab-bar-color:#262626;
$tab-icon-color:#ffffff;
$tab-icon-background-color:#000000;

$tabs-dark: $tab-bar-color;
$tabs-light: $tab-bar-color;

$tabs-bottom-radius: .4em;
$tabs-bottom-gradient: 'bevel';
$tabs-bar-gradient: 'matte';
$tabs-bottom-active-gradient: 'recessed';

$toolbar-gradient: 'matte';
$include-default-icons:false;


/*------------------------------------*\
    $MISCELLANEOUS
\*------------------------------------*/

$textshadow:1px 1px 1px #fff;


/*------------------------------------*\
    $IMPORTS & INCLUDES
\*------------------------------------*/

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@include sencha-panel;
@include sencha-buttons;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-sheet;
@include sencha-msgbox;
@include sencha-carousel;
@include sencha-list-paging;
@include sencha-form;
@include sencha-loading-spinner;





/*------------------------------------*\
    $ICON INCLUDES
\*------------------------------------*/

@include pictos-iconmask('calendar');
@include pictos-iconmask('doc_list');
@include pictos-iconmask('doc2');
@include pictos-iconmask('info_plain2');
@include pictos-iconmask('list');
@include pictos-iconmask('headphones');
@include pictos-iconmask('compass1');
@include pictos-iconmask('photo3');
@include pictos-iconmask('time');
@include pictos-iconmask('home');
@include pictos-iconmask('locate');
@include pictos-iconmask('video');

//edit below this line with caution
body{
  background-color:#000000;
}


/*------------------------------------*\
    $SWIPE TRAINER
\*------------------------------------*/

#trainer{
  @include background-gradient($tab-bar-color,matte);
  .x-innerhtml p{
    text-align:center;
    font-weight:bold !important;
    margin-bottom:0px;
    text-shadow: -1px -1px 1px #000000;
    z-index: 1000;
    color:#eeeeee;
  }
  .x-panel-inner , .x-body{
    background-color:transparent !important;
    color:#fefefe;
  }
}
#trainer-dismiss{
  color:#ffffff !important;
  @include background-gradient($accent-color-one,matte);
  border:none;
}
#trainer-dismiss .x-button-label{
    line-height:15px;
    color:#ffffff !important;
    text-shadow: -1px -1px 1px #444;
    margin-top:-3px;
}
#trainer-dismiss.x-button-pressing{
  @include background-gradient($accent-color-one,recessed);
}


/*------------------------------------*\
    $BACK BUTTON
\*------------------------------------*/

.x-button-back .x-button-label {
    color: #fff;
}
.x-toolbar-dark .x-button,
.x-toolbar-dark .x-button.x-button-back::after{
  @include background-gradient($back-button-color,bevel);
}

.x-toolbar-dark .x-button.x-button-pressing,
.x-toolbar-dark .x-button.x-button-pressing::after{
  @include background-gradient($back-button-color,recessed);
}




/*------------------------------------*\
    $TOOLBAR
\*------------------------------------*/
.x-toolbar-dark{
  color: saturate(lighten($tab-icon-color, 10%), 1%);
  text-shadow: rgba(#000, .8) 0 1px 1px;
  @include background-gradient($title-bar-background-color,matte);
}




/*------------------------------------*\
    $TABBAR
\*------------------------------------*/

.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon{
  background: $tab-icon-color none !important;
  -webkit-box-shadow: rgba($tab-bar-color, .8) 0 0 1px !important;
}

.x-tabbar.x-docked-bottom .x-tab {
    &.x-tab-active{
        -webkit-box-shadow: inset rgba($tab-bar-color, .8) 0 0 3px !important;
    }
}
.x-tabbar.x-docked-bottom .x-tab.x-tab-pressed{
  -webkit-border-radius:0px;
  border-radius:0px;
  padding-top:8px;
  padding-bottom:5px;
  background-color:#1A1A1C;
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #010101), color-stop(10%, #0D0E0F), color-stop(65%, #1A1A1C), color-stop(100%, #1B1C1D));
  background-image:-webkit-linear-gradient(top, #010101,#0D0E0F 10%,#1A1A1C 65%,#1B1C1D);
}

.x-tabbar-dark.x-docked-bottom .x-tab-active{
  -webkit-border-radius:0px;
  border-radius:0px;
  padding-top:8px;
  padding-bottom:5px;
}




/*------------------------------------*\
    $LIST ITEMS
\*------------------------------------*/

.x-list-item-label{
  overflow:hidden;
  div.avatar{
    display:inline-block;
  }
}
.x-list-item{
  .subline{
    font-size:12px !important;
    color:$grey !important;
  }
  .date{
    display:block;
    float:left;
    margin-right:10px;
    background-color:$date-background-color;
    text-align:center;
    padding-left: 5px;
    padding-right:5px;
    padding-top:3px;
    font-weight:bold;
     @include border-radius(3px,3px);
    .month{
       display:block;
      color:$white;
      text-transform:uppercase;
      font-size:11px !important;
      line-height:1em;
    }
    .day{
       color:$white;
       font-size:17px  !important;
       line-height:1em;
       font-weight:normal;
    }
  }
}




/*------------------------------------*\
    $LIST PAGING
\*------------------------------------*/

.x-list-paging{
  @include background-gradient(#dddddd,matte);
  .x-list-paging-msg{
    text-shadow:-1px -1px 1px #ffffff;
  }
  &:active{
     @include background-gradient(#dddddd,recessed);
  }
}






/*------------------------------------*\
    $MESSAGE BOX
\*------------------------------------*/

.x-msgbox{
  border-color: $message-box-border-color;
}

.x-msgbox-dark .x-msgbox-text{
  color: $message-box-text-color;
}

.x-toolbar.x-msgbox-buttons .x-button.x-button-action{
  color: $message-box-action-button-text-color;
  @include background-gradient( $message-box-action-button-color,matte );
}

.x-panel.x-floating, .x-msgbox{
  background-color: $message-box-background-color;
}




/*------------------------------------*\
    $LATEST MEDIA LAYOUT
\*------------------------------------*/

.latest{
  .media-wrap{
    position:relative;
      width:320px;
    height:150px;
    overflow:hidden;
    img{
      position:absolute;
      z-index:1;
    }
    .listen{
      position:absolute;
      z-index:20;
      display:block;
      width:123px;
      height:123px;
      left:30%;
      top:15px;
    }
  }
  h6{
    padding:7px;
    padding-bottom:0px;
    font-size:.7em;
    color:$grey;
    margin-bottom:2px;
  }
  h3{
   display:block;
   padding:7px;
   font-weight:bold;
  }
  time{
     float:right;
  }
  .preview{
    font-size:.9em;
    color:$grey;
  }
}




/*------------------------------------*\
    $PHOTO GRID
\*------------------------------------*/

.grid{
 overflow:hidden;
 .thumbwrap{
   overflow:hidden;
  width:78px;
  height:78px;
  float:left;
  margin-right:2px;
  margin-bottom:2px;
  &:nth-child(4n){
    margin-right:0px;
    width:79px;
  }
 }
}

.photogrid-panel{
  background-color:#000 !important;
}

a.mediaplay{
  text-decoration:none !important;
  color:#666666 ;
  text-transform:uppercase;
  font-weight:bold;
  padding:6px 15px;
  text-shadow:1px 1px 1px #eee;
  border-radius:4px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 238, 238)), to(rgb(215, 215, 215)));
  background-image: -webkit-linear-gradient(top, rgb(238, 238, 238), rgb(215, 215, 215));
  border:1px solid #ccc;
  box-shadow: 1px 1px 1px #fff;
  margin-right:10px;
}

a.mediaplay:hover,
a.mediaplay:active{
  color:#eeeeee;
  text-shadow:-1px -1px 1px #333;
  background-color: #424242;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(66, 66, 66)), to(rgb(111, 111, 111)));
  background-image: -webkit-linear-gradient(top, rgb(66, 66, 66), rgb(111, 111, 111));

}




/*------------------------------------*\
    $INNERHTML OVERRIDES
\*------------------------------------*/

.x-innerhtml.x-html{
  h2{
    text-shadow:$textshadow;
    margin-bottom:.25em;
  }
  h3{

  }
  h4{
    color:#333;
    text-shadow:$textshadow;
    margin-bottom:.25em;
    span{
      font-size:90%;
      color:#666666;
    }
  }
  .passage{
    font-weight:bold;
    font-size:1em;
    color:#888;
  }
  p{
    font-size:1.1em;
  }

}



