// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

/*------------------------------------*\
    $IMPORTS & INCLUDES
\*------------------------------------*/

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@import 'sencha-touch/default';
@import 'sencha-touch/default/mixins/Class';
@import 'sencha-touch/default/src/Button';
@import 'sencha-touch/default/src/Panel';
@import 'sencha-touch/default/src/MessageBox';
@import 'sencha-touch/default/src/Toolbar';
@import 'sencha-touch/default/src/tab/Panel';
@import 'sencha-touch/default/src/dataview/IndexBar';
@import 'sencha-touch/default/src/dataview/List';
@import 'sencha-touch/default/src/Sheet';
@import 'sencha-touch/default/src/carousel/Carousel';
@import 'sencha-touch/default/src/plugin/ListPaging';

@include icon-font('Pictos', inline-font-files('pictos/pictos-web.woff', woff, 'pictos/pictos-web.ttf', truetype,'pictos/pictos-web.svg', svg));


/*------------------------------------*\
    $DEFAULT COLORS & STYLING
\*------------------------------------*/

$accent-color-one: #8B483F;
$base-gradient: 'matte'; /* matte, bevel, glossy, recessed, or linear */


/*------------------------------------*\
    $TITLE BAR COLORS
\*------------------------------------*/

$back-button-color: #122B4F;
$title-bar-font-color: #ffffff;
$title-bar-background-color: #3B66A2;
$title-bar-gradient-type: 'linear';


/*------------------------------------*\
    $MESSAGE BOX COLORS
\*------------------------------------*/

$message-box-border-color: #384855;
$message-box-text-color: #384855;
$message-box-action-button-text-color: #ffffff;
$message-box-action-button-color: #384855;
$message-box-button-text-color: #ffffff;
$message-box-button-color: #555555;
$message-box-background-color: #ffffff;


/*------------------------------------*\
    $BASE COLORS
\*------------------------------------*/

$grey: #666666;
$light-color: #3f4346;
$light-blue: #9bc0f4;
$white: #fff;


/*------------------------------------*\
    $LIST COLORS
\*------------------------------------*/

$date-background-color:#8B483F;
$list-item-color: #eeeeee;
$list-active-color: #8BAEE4;
$list-active-gradient-type: 'linear'; /* matte, bevel, glossy, recessed, or linear */
$list-pressed-color: $list-item-color;
$list-header-bg-color: transparentize(saturate($base-color, 10%), .5);
$list-header-gradient: 'matte';


/*------------------------------------*\
    $TABBAR DEFULT STYLING
\*------------------------------------*/


$tab-icon-color: #666666;
$tab-icon-active-color: #ffffff;
$tab-icon-background-color: #000000;

$tabbar-color: #262626;
$tabbar-tab-pressed-color: #111111;
$tabbar-tab-pressed-gradient-type: 'linear';
$tabbar-tab-active-color: #3B66A2;
$tabbar-gradient-type: 'linear';

$tabs-bottom-radius: .4em;
$tabs-bottom-gradient: 'bevel';


/*------------------------------------*\
    $MISCELLANEOUS
\*------------------------------------*/

$textshadow: 1px 1px 1px #fff;


/*------------------------------------*\
    $ICON INCLUDES
\*------------------------------------*/

// -- available built-in fonts are here: http://pictos.cc/font/

@include icon("calendar", "\\");
@include icon("doc_list", "n");
@include icon("news", "N");
@include icon("doc", "F");
@include icon("info", "i");
@include icon("list", "l");
@include icon("audio","f");
@include icon("compass", "G");
@include icon("photo", "P");
@include icon("time", "t");
@include icon("home", "H");
@include icon("locate", "@");
@include icon("video", "V");
@include icon("mail", "M");





/* ------------------------------- Edit below this line with caution -------------------------*/

body{
  background-color: #000000;
}

/*------------------------------------*\
    $SWIPE TRAINER
\*------------------------------------*/

#trainer{
  @include background-gradient($tabbar-color,matte);
  .x-innerhtml p{
    text-align: center;
    font-weight: bold !important;
    margin-bottom: 0px;
    text-shadow: -1px -1px 1px #000000;
    z-index: 1000;
    color: #eeeeee;
  }
  .x-panel-inner , .x-body{
    background-color: transparent !important;
    color: #fefefe;
  }
}
#trainer-dismiss{
  color: #ffffff !important;
  @include background-gradient($accent-color-one, matte);
  border:none;
}
#trainer-dismiss .x-button-label{
    line-height: 15px;
    color: #ffffff !important;
    text-shadow: -1px -1px 1px #444;
    margin-top: -3px;
}
#trainer-dismiss.x-button-pressing{
  @include background-gradient($accent-color-one, recessed);
}


/*------------------------------------*\
    $BACK BUTTON
\*------------------------------------*/

.x-button-back .x-button-label {
    color: #fff;
}
.x-toolbar-dark .x-button,
.x-toolbar-dark .x-button.x-button-back::after{
  @include background-gradient($back-button-color, linear);
}

.x-toolbar-dark .x-button.x-button-pressing,
.x-toolbar-dark .x-button.x-button-pressing::after{
  @include background-gradient($back-button-color, recessed);
}




/*------------------------------------*\
    $TOOLBAR
\*------------------------------------*/
.x-toolbar{
  color: saturate(lighten($title-bar-font-color, 10%), 1%);
  text-shadow: rgba(#000, .8) 0 1px 1px;
  @include background-gradient($title-bar-background-color, $title-bar-gradient-type);
}




/*------------------------------------*\
    $TABBAR
\*------------------------------------*/

.x-tabbar{
  color: saturate(lighten($tab-icon-color, 10%), 1%);
  text-shadow: rgba(#000, .8) 0 1px 1px;
  @include background-gradient($tabbar-color, $tabbar-gradient-type);
}

.x-tab{
  color: $tab-icon-color !important;
}

.x-tab-active .x-button-icon:before,
.x-tab-active .x-button-label{
  color: $tab-icon-active-color !important;
}

.x-tab .x-button-icon:before{
  text-shadow: 0 1px 2px #000;
  -webkit-text-stroke: $tab-icon-color;
}

.x-tabbar.x-docked-bottom .x-tab {
    &.x-tab-active{
        box-shadow: inset rgba($tabbar-color, .8) 0 0 3px !important;
    }
}

.x-tabbar.x-docked-bottom .x-tab.x-tab-pressed{
  -webkit-border-radius:0px;
  border-radius:0px;
  padding-top:8px;
  padding-bottom:5px;

  @include background-gradient($tabbar-tab-pressed-color,$tabbar-tab-pressed-gradient-type);
}

.x-tabbar-dark.x-docked-bottom .x-tab-active,
.x-tab-active{
  -webkit-border-radius:0px;
  border-radius:0px;
  padding-top:8px;
  padding-bottom:5px;

  @include background-gradient($tabbar-tab-active-color, 'matte', top, 2);
}




/*------------------------------------*\
    $LIST ITEMS
\*------------------------------------*/

.x-list-item-label{
  overflow:hidden;
  div.avatar{
    display:inline-block;
  }
}


.x-list{
  .x-list-item{
    overflow: hidden;
    .subline{
      font-size:12px !important;
      color:$grey !important;
    }
    .title{
      padding-right: 50px;
    }
    .date{
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -19px;
      margin-left: 12px;
      //background-color: $date-background-color;
      text-align:center;
      //@include border-radius(3px,3px);
      .month{
        display: block;
        color: $accent-color-one;
        text-transform: uppercase;
        font-size: 14px !important;
        font-weight: 800;
        line-height: 1em;
      }
      .day{
         color: #414141;
         font-size: 26px  !important;
         line-height: 1em;
         font-weight: 100;
      }
    }
  }

  .x-list-item.x-item-selected.x-list-item-tpl{
    @include background-gradient($list-active-color, $list-active-gradient-type);
    border-top-color: darken($list-active-color, 3%) !important;
  }

  .x-list-item.x-item-selected.x-list-item-tpl .x-innerhtml{
    text-shadow: -1px -1px 1px darken($list-pressed-color, 50%) !important;
  }

  .x-list-item.x-item-pressed.x-list-item-tpl{
    background-color: $list-pressed-color;
    border-top-color: darken($list-pressed-color, 2%) !important;
  }
}




/*------------------------------------*\
    $LIST PAGING
\*------------------------------------*/

.x-list-paging{
  @include background-gradient(#dddddd,linear);
  .x-list-paging-msg{
    text-shadow:-1px -1px 1px #ffffff;
  }
  &:active{
     @include background-gradient(#dddddd,recessed);
  }
}




/*------------------------------------*\
    $MESSAGE BOX
\*------------------------------------*/

.x-msgbox{
  border-color: $message-box-border-color;
}

.x-msgbox-dark .x-msgbox-text{
  color: $message-box-text-color;
}

.x-toolbar.x-msgbox-buttons .x-button.x-button-action{
  color: $message-box-action-button-text-color;
  @include background-gradient( $message-box-action-button-color,matte );
}

.x-toolbar.x-msgbox-buttons .x-button.x-button-normal{
  color: $message-box-button-text-color;
  @include background-gradient( $message-box-button-color,matte );
}

.x-panel.x-floating, .x-msgbox{
  background-color: $message-box-background-color;
}




/*------------------------------------*\
    $LATEST MEDIA LAYOUT
\*------------------------------------*/

.latest{
  .media-wrap{
    position:relative;
      width:320px;
    height:150px;
    overflow:hidden;
    img{
      position:absolute;
      z-index:1;
    }
    .listen{
      position:absolute;
      z-index:20;
      display:block;
      width:123px;
      height:123px;
      left:30%;
      top:15px;
    }
  }
  h6{
    padding:7px;
    padding-bottom:0px;
    font-size:.7em;
    color:$grey;
    margin-bottom:2px;
  }
  h3{
   display:block;
   padding:7px;
   font-weight:bold;
  }
  time{
     float:right;
  }
  .preview{
    font-size:.9em;
    color:$grey;
  }
}


/*------------------------------------*\
    $MEDIA
\*------------------------------------*/

audio{
  width: 100%;
  height: 25%;
  display: block;
}

video{
  display: block;
}


/*------------------------------------*\
    $PHOTO GRID
\*------------------------------------*/

.grid{
 overflow:hidden;
 .thumbwrap{
   overflow:hidden;
  width:78px;
  height:78px;
  float:left;
  margin-right:2px;
  margin-bottom:2px;
  &:nth-child(4n){
    margin-right:0px;
    width:79px;
  }
 }
}

.photogrid-panel{
  background-color:#000 !important;
}

a.mediaplay{
  text-decoration:none !important;
  color:#666666 ;
  text-transform:uppercase;
  font-weight:bold;
  padding:6px 15px;
  text-shadow:1px 1px 1px #eee;
  border-radius:4px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 238, 238)), to(rgb(215, 215, 215)));
  background-image: -webkit-linear-gradient(top, rgb(238, 238, 238), rgb(215, 215, 215));
  border:1px solid #ccc;
  box-shadow: 1px 1px 1px #fff;
  margin-right:10px;
}

a.mediaplay:hover,
a.mediaplay:active{
  color:#eeeeee;
  text-shadow:-1px -1px 1px #333;
  background-color: #424242;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(66, 66, 66)), to(rgb(111, 111, 111)));
  background-image: -webkit-linear-gradient(top, rgb(66, 66, 66), rgb(111, 111, 111));

}




/*------------------------------------*\
    $INNERHTML OVERRIDES
\*------------------------------------*/

.x-innerhtml.x-html{
  h2{
    text-shadow:$textshadow;
    margin-bottom:.25em;
  }
  h3{

  }
  h4{
    color:#333;
    text-shadow:$textshadow;
    margin-bottom:.25em;
    span{
      font-size:90%;
      color:#666666;
    }
  }
  .passage{
    font-weight:bold;
    font-size:1em;
    color:#888;
  }
  p{
    font-size:1.1em;
  }

}

